@{
    ViewData["Title"] = "Home Page";
}

<h2>Home Page</h2>

<div>
    <a class="btn btn-primary" href="@Url.Action("Carregar", "Home")">Carregar PDF</a>
    <a class="btn btn-secondary" href="@Url.Action("ExibirPlanilha", "Home")">Carregar Planilhas</a>
    <a class="btn btn-success" href="@Url.Action("FormularioUsuario", "Home")">Preencher Formulário de Usuário</a>
    <a class="btn btn-info" href="@Url.Action("UsuariosCadastrados", "Home")">Ver Usuários Cadastrados</a>
    <a class="btn btn-info" href="@Url.Action("UploadImagem", "Ocr")">Upload de Imagem com OCR</a>


</div>
<h2>Inserir Usuário</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["AlertMessage"] != null)
{
    <script>
        alert('@TempData["AlertMessage"]');
    </script>
}
